
<div class="nk-sidebar">
    <div class="nk-nav-scroll">
        <ul class="metismenu" id="menu">
            <li>
                <a href="/Staff/Index/" aria-expanded="false">
                    <i class="fa fa-group"></i><span class="nav-text">Staff</span>
                </a>
            </li>
            <li>
                <a href="/Testimonial/Index/" aria-expanded="false">
                    <i class=""></i><span class="nav-text">References</span>
                </a>
            </li>
        </ul>
    </div>
</div>

