@model List<TestimonialViewModel>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/AdminLayout/_AdminLayout.cshtml";
}

<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>Reference Image</th>
        <th>Reference Name</th>
        <th>Reference Title</th>
        <th>Delete</th>
        <th>Edit</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.TestimonialID</td>
            <td>@item.Image</td>
            <td>@item.Name</td>
            <td>@item.Title</td>
            <td><a href="/Staff/DeleteStaff/@item.TestimonialID" class="btn mb-1 btn-rounded btn-outline-danger">Remove</a></td>
            <td><a href="/Staff/UpdateStaff/@item.TestimonialID" class="btn mb-1 btn-rounded btn-outline-primary">Update</a></td>
        </tr>
    }
</table>

<a href="/Staff/AddStaff/" class="btn mb-1 btn-rounded btn-outline-success">Add Staff Member</a>


