@model List<StaffViewModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/AdminLayout/_AdminLayout.cshtml";
}

<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>Staff Name</th>
        <th>Staff Title</th>
        <th>Delete</th>
        <th>Update</th>
        <th>Details</th>
    </tr>
    @foreach(var item in Model)
    {
        <tr>
            <td>@item.StaffID</td>
            <td>@item.Name</td>
            <td>@item.Title</td>
            <td><a href="/Staff/DeleteStaff/@item.StaffID" class="btn mb-1 btn-rounded btn-outline-danger">Remove</a></td>
            <td><a href="/Staff/UpdateStaff/@item.StaffID" class="btn mb-1 btn-rounded btn-outline-primary">Update</a></td>
            <td><a href="#" class="btn mb-1 btn-rounded btn-outline-dark">Details</a></td>
        </tr>
    }
</table>

<a href="/Staff/AddStaff/" class="btn mb-1 btn-rounded btn-outline-success">Add Staff Member</a>
